.env
vendor/
node_modules/
storage/
public/storage
public/hot
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.dockerignore
.env.testing
.docker
.docker-compose.yml
Dockerfile
README.md
.git
.gitignore
